{{ define "main" }}
  <article class="markdown book-article">
    <h1>{{ partial "docs/title" . }}</h1>
  </article>

  {{ range .Paginator.Pages.ByDate.Reverse }}
  <article class="book-post markdown career-list-item">
    <h2>
      <a href="{{ .RelPermalink }}">{{ partial "docs/title" . }}</a>
    </h2>
    {{ partial "docs/post-meta" . }}

    <div class="career-chips">
      {{ with .Params.category }}<a class="book-btn" href="{{ (printf "categories/%s/" (urlize .)) | relURL }}">{{ . }}</a>{{ end }}
      {{ range first 4 .Params.tags }}<a class="book-btn" href="{{ (printf "tags/%s/" (urlize .)) | relURL }}">#{{ . }}</a>{{ end }}
    </div>

    {{ with .Params.description }}<p>{{ . }}</p>{{ end }}
  </article>
  {{ end }}

  {{ template "_internal/pagination.html" . }}
{{ end }}

{{ define "toc-container" }}
<aside class="book-toc">
  <div class="book-toc-content">
    {{ template "toc" . }}
  </div>
</aside>
{{ end }}

{{ define "toc" }}
  {{ partial "docs/taxonomy" . }}
{{ end }}

